.title {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-bold);
}

.titleWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-m) 0;
}
